<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BackEnd.Reply.DAO.ReplyDAO">

    <resultMap id="replymap" type="BackEnd.Reply.Domain.Reply">
      <result property="boardid" column="boardid" />
      <result property="content" column="content" />
      <result property="createdAt" column="createdAt" />
      <result property="userid" column="userid" />
    </resultMap>

    <select id="selectReplyById" resultMap="replymap">
      SELECT *
      FROM REPLY
      WHERE BOARDID = #{id, jdbcType=INTEGER}
    </select>
</mapper>